body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #618694;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HOMEPAGE */
.featured-photographers-card {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin-top: 40px;
  margin-left: 80px;
  height: 420px;
}

.featured-locations-card {
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 800px;
  margin-top: 40px;
  margin-left: 80px;
  height: 420px;
  margin-bottom: 40px;
  background-size: cover;
}

.about-card {
  position: absolute;
  top: 40;
  right: 0;
  background-color: #fff;
  padding: 50px;
  border-radius: 50px;
  max-width: 500px;
  height: 880px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  margin-right: 300px;
}

.photographers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photographer {
  width: 30%;
  margin-bottom: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.circle img {
  display: block;
  width: 100%;
  height: auto;
}

.photographer-info {
  text-align: center;
  margin-top: 10px;
  color: #38484d;
}

.about-card p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.photographer-info h3 {
  color: #38484d;
}

.featured-title {
  text-align: center;
  margin-bottom: 20px;
  color: #38484d;
  margin-top: 20px;
}

.about-card h2 {
  text-align: center;
  color: #38484d;
  margin-bottom: 20px;
}

.about-card img {
  margin-top: 40px;
  max-width: 300px;
}

.split-screen {
  display: flex;
  flex-wrap: wrap;
}

.left-column {
  flex-basis: 100%;
}

.right-column {
  flex-basis: 100%;
}

.featured-btn {
  border: none;
  background-color: #38484d;
  color: #fff;
  border-radius: 20px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.register-btn {
  border: none;
  background-color: #38484d;
  color: white;
  border-radius: 20px;
  padding: 15px;
  text-decoration: none;
  max-width: fit-content;
  font-size: large;
  margin-left: 40%;
}

.featured-btn:hover {
  background-color: #618694;
  color: #fff;
}

.info-register-btn {
  background-color: #618694;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 20px;
  cursor: pointer;
  text-align: center;
  margin-top: 80px;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.info-register-btn:hover {
  background-color: #38484d;
  color: #fff;
}

.featured-locations-card p {
  max-width: 500px;
  font-size: large;
  text-align: center;
  margin-left: 15%;
  margin-top: -15px;
}

/* iPhone 12 Pro */
@media screen and (max-width: 500px) {
  .featured-photographers-card {
    max-width: 400px;
    margin-left: -10px;
    margin: 15px;
    margin-top: 20px;
    max-height: 300px;
  }

  .featured-locations-card {
    max-width: 400px;
    margin-left: -10px;
    margin: 15px;
    margin-top: 20px;
    max-height: 300px;
  }

  .featured-title {
    font-size: large;
  }

  .circle {
    max-height: 80px;
    max-width: 80px;
  }

  .photographer-info h3 {
    font-size: small;
  }

  .photographer-info {
    font-size: small;
    max-width: fit-content;
    padding: 1px;
  }

  .about-card {
    max-width: 355px;
    max-height: 300px;
    margin-top: 680px;
    margin-right: 20px;
  }

  .about-card h2 {
    font-size: medium;
    margin-top: -20px;
  }

  .about-card p {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .info-register-btn {
    padding: 10px;
    margin-bottom: 40px;
  }

  .featured-locations-card p {
    font-size: x-small;
    font-weight: bold;
    margin-top: -30px;
    margin-left: 5%;
  }
}

.navbar {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* REGISTER PAGE */
.register-form {
  background-color: #fff;
  width: 40%;
  height: 1300px;
}

.photo-bg img {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 150px;
  width: 40%;
  margin-right: 150px;
  height: 800px;
}

.memories-logo {
  max-width: 150px;
  margin-top: 40px;
  margin-left: 35%;
}

.register-form h1 {
  margin-top: 40px;
  margin-left: 15%;
  margin-bottom: 80px;
}

.register-form input {
  display: flex;
  margin-left: 20%;
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  border: none;
  background-color: #eeeeee;
}

.register-form button {
  margin-top: 100px;
  margin-left: 20%;
  background-color: #38484d;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}

.register-form button:hover {
  background-color: #618694;
}

#errorMsg {
  font-size: large;
  text-align: center;
  color: red;
}

#okMsg {
  font-size: large;
  text-align: center;
  color: green;
}

@media screen and (max-width: 500px) {
  .photo-bg img {
    display: none;
  }

  .register-form {
    width: 100%;
  }

  .register-form input {
    width: 300px;
    margin-left: 40px;
  }

  .register-form button {
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
  }

  .memories-logo {
    margin-left: 120px;
  }

  .register-form h1 {
    width: 200px;
    text-align: center;
    margin-left: 80px;
  }
}

/* LOGIN PAGE */
.login-form {
  background-color: #fff;
  width: 40%;
  height: 1300px;
}

.logout-container {
  display: flex;
  background-color: #fff;
  margin-left: 700px;
  margin-top: 100px;
  height: 600px;
  width: 500px;
  border-radius: 10px;
}

.logout-card {
  font-size: x-large;
  text-align: center;
  margin-top: 100px;
  margin-left: 100px;
}

.logout-card img {
  max-width: 250px;
  margin-left: 40px;
  margin-top: -40px;
  margin-bottom: 40px;
}

.logout-btn {
  background-color: #c04a4a;
  color: #fff;
  border-radius: 10px;
  border: none;
  width: 200px;
  padding: 10px;
  text-align: center;
  font-size: large;
  margin-top: 40px;
}

.logout-btn:hover {
  background-color: #923232;
}

.login-form h1 {
  margin-top: 40px;
  margin-left: 15%;
  margin-bottom: 80px;
}

.login-form input {
  display: flex;
  margin-left: 20%;
  margin-top: 40px;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  border: none;
  background-color: #eeeeee;
}

.login-form button {
  margin-top: 100px;
  margin-left: 20%;
  background-color: #38484d;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
}

.login-form button:hover {
  background-color: #618694;
}

@media screen and (max-width: 500px) {
  .photo-bg img {
    display: none;
  }

  .login-form {
    width: 100%;
  }

  .login-form input {
    width: 300px;
    margin-left: 40px;
  }

  .login-form button {
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
  }

  .memories-logo {
    margin-left: 120px;
  }

  .login-form h1 {
    width: 200px;
    text-align: center;
    margin-left: 80px;
  }
  .logout-container {
    width: 300px;
    margin-left: 45px;
    margin-top: 70px;
  }
  .logout-card img {
    margin-left: 10px;
    width: fit-content;
    height: fit-content;
  }
  .logout-card {
    font-size: larger;
    margin-left: 20px;
    width: fit-content;
    height: fit-content;
  }
}

/* USER PROFILE */
.profile-pic {
  display: flex;
  align-items: center;
  background-color: #fff;
  max-width: 300px;
  max-height: 300px;
  margin-left: 100px;
  margin-top: 80px;
  border-radius: 10px 10px 0px 0px;
}

.profile-pic img {
  max-height: 50px;
  border-radius: 50%;
  margin: 10px;
  margin-left: 50px;
  margin-top: 10px;
}

.profile-pic p {
  float: right;
  margin-top: 25px;
  margin-right: 80px;
  font-size: large;
}

.user-info-card {
  background-color: #fff;
  max-width: 300px;
  height: 380px;
  margin-left: 100px;
  border-radius: 0px 0px 10px 10px;
}

.user-profile-page {
  position: absolute;
}

.profile-menu {
  list-style-type: none;
  color: rgb(116, 116, 116);
  display: flex;
  flex-direction: column;
}

.menu-options {
  max-width: fit-content;
  font-size: large;
  padding: 2px;
  padding-left: 15px;
  order: 1;
  margin-top: 30px;
  text-decoration: none;
}

.menu-options li {
  display: flex;
  align-items: center;
}

.menu-options p {
  margin-left: 10px;
  margin-top: 10px;
}

.menu-options:hover {
  color: #38484d;
  cursor: pointer;
}

.menu-option-list {
  text-decoration: none;
  color: rgb(116, 116, 116);
  margin-left: 20px;
}

.menu-option-list:hover {
  color: #38484d;
  cursor: pointer;
}

.review-option li {
  margin-bottom: 80px;
}

.about-section {
  background-color: #fff;
  max-width: 1000px;
  margin-left: 600px;
  margin-top: -910px;
  padding: 50px;
  border-radius: 10px;
}

.about-section h2 {
  display: flex;
  justify-content: center;
}

.photos-section {
  background-color: #fff;
  max-width: 1000px;
  margin-left: 600px;
  margin-top: 50px;
  border-radius: 10px;
  padding: 50px;
}

.about-section h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.photos-section img {
  max-width: 300px;
}

.photos-section h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.col-md-4 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.card-img img {
  display: block;
  margin: 20px;
}

.username-profile {
  order: 1;
  margin-left: 10px;
}

.rate-card {
  background-color: #fff;
  width: 300px;
  padding: 50px;
  margin-top: 50px;
  border-radius: 10px;
  margin-left: 100px;
}

.rate-card h5 {
  margin-left: 30%;
}

.rate-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 40px;
  color: rgb(116, 116, 116);
}

.rate-container:hover {
  color: #38484d;
  cursor: pointer;
}

.rate-container p {
  margin: 0;
}

.book-now-profile button {
  background-color: #38484d;
  color: #fff;
  border: none;
  border-radius: 10px;
  margin-left: 900px;
  margin-top: 100px;
  width: 300px;
  height: 100px;
  font-size: xx-large;
}

.book-now-profile button:hover {
  background-color: #fff;
  color: #38484d;
}

.book-now-profile {
  max-width: fit-content;
  max-height: fit-content;
}

@media screen and (max-width: 500px) {
  .profile-pic {
    max-width: 300px;
    margin-left: 35px;
  }

  .user-info-card {
    max-width: 300px;
    margin-left: 35px;
  }

  .about-section {
    max-width: 300px;
    margin-left: 35px;
    margin-top: 80px;
  }

  .photos-section {
    max-width: 300px;
    margin-left: 35px;
    margin-top: 80px;
  }

  .rate-card {
    max-width: 300px;
    margin-left: 35px;
  }

  .photos-section img {
    max-width: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .book-now-profile button {
    max-width: 200px;
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

/* OUR PHOTOGRAPHERS PAGE */

.photographerimg {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

#user-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

#user {
  width: 240px;
  flex-basis: center;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#user button {
  margin-top: 10px;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.card {
  border-radius: 10px !important;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
  min-width: 200px;
  max-width: 600px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

/* EDIT PROFILE */

.AvatarUploader {
  text-align: center;
}
.edit-form {
  background-color: #fff;
  max-width: 1000px;
  height: 400px;
  margin-left: 25%;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
}

.edit-form input {
  display: flex;
  margin-left: 30%;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  border: none;
  background-color: #eeeeee;
}

.edit-form button {
  margin-top: 120px;
  margin-left: 30%;
  background-color: #38484d;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  margin-bottom: 40px;
  font-size: larger;
}

.edit-form button:hover {
  background-color: #fff;
  color: #38484d;
}

.edit-form h3 {
  font-size: large;
  margin-left: 30%;
  padding: 0;
}

.form-container {
  margin-top: 5vh
}

.pfp-username-card {
  background-color: #fff;
  max-width: 1000px;
  height: 400px;
  margin-left: 25%;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  margin-top: 50px;
}

.pfp-username-card img {
  border-radius: 50%;
  max-width: 60%;
  max-height: 60%;
  margin-left: 40%;
  margin-top: 80px;
}

.pfp-username-card p {
  font-size: large;
  margin-left: 44%;
  margin-top: 20px;
}

.pfp-username-card h1 {
  font-size: xx-large;
  margin-left: 35%;
  margin-top: 20px;
}

.profile-image-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upload-text {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.upload-input {
  display: none;
}

.book-now-btn {
  background-color: #38484d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 70px;
}

.book-now-btn:hover {
  text-decoration: none;
  background-color: #618694;
  color: #fff;
}

.reviews {
  margin-bottom: 60px;
}

@media screen and (max-width: 500px) {
  .edit-form {
    max-width: 300px;
    margin-left: 45px;
  }

  .pfp-username-card {
    max-width: 300px;
    margin-left: 45px;
    max-height: 200px;
  }

  .pfp-username-card h1 {
    font-size: x-large;
    width: 300px;
    margin-left: 20px;
  }

  .pfp-username-card img {
    max-width: 60%;
    max-width: 60%;
    margin-left: 80px;
    margin-top: 40px;
  }

  .pfp-username-card p {
    margin-left: 30%;
    margin-top: -170px;
  }

  .edit-form input {
    width: 250px;
    margin-left: 5px;
  }

  .edit-form h3 {
    font-size: medium;
    margin-left: 15px;
  }

  .edit-form button {
    max-width: 150px;
    padding: 12px;
    margin-left: 50px;
  }
  .AvatarUploader input {
    max-width: 100px;
    margin-top: 10px;
  }
}

/* BOOKING PAGE */
.booking-form {
  display: flex;
}

.booking-photo {
  flex: 1;
}

.booking-photo img {
  max-width: 800px;
  margin-left: 100px;
}

.booking-card {
  flex: 1;
  background-color: #fff;
  border-radius: 10px;
  max-width: fit-content;
  max-height: 700px;
  padding: 40px;
  margin-left: 200px;
  margin-top: 100px;
}

.booking-card input {
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  border: none;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

.book-btn {
  background-color: #38484d;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-left: 180px;
  padding-left: 40px;
  padding-right: 40px;
}

.book-btn:hover {
  background-color: #618694;
}

@media screen and (max-width: 500px) {
  .booking-photo {
    display: none;
  }
  .booking-card {
    max-width: 300px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .booking-card input {
    max-width: 240px;
    margin-left: -10px;
  }
  .book-btn {
    margin-left: 50px;
  }
}

/* REVIEW PAGE */
.review-cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 90%;
  margin: 0 auto;
}

.reviews {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  flex-basis: center;
  width: 300px;
  height: fit-content;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.reviews p {
  color: #38484d;
  margin-top: 20px;

}

.reviews h5 {
  color: #38484d;
}

.create-review-card {
  margin-top: 40px;
}

.review-form form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.review-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.review-form input[type="text"],
select {
  width: 80%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 20px;
  background-color: #eeeeee;
}

.review-form button[type="submit"] {
  background-color: #38484d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 16px;
	margin-top: 20px;
	width: 50%;
  margin-left: 120px;
  margin-bottom: 20px;
}

.review-form button[type="submit"]:hover {
  background-color: #618694;
}

.review-form h1 {
  color: #38484d;
  font-size: xx-large;
  margin-left: 155px;
}

.stars-container {
  margin-left: 140px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-card-name {
  font-size: larger;
  font-weight: 700;
  color: #38484d;
}

.user-review-title {
  font-size: larger;
  font-weight: bold;
  background-color: #fff;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  border-radius: 20px;
  margin-top: 50px;
  margin-left: 40%;
  color: #38484d;
}

@media screen and (max-width: 500px) {
  .review-form form {
    max-width: 300px;
  }
  .review-form h1 {
    margin-left: 10px;
  }
  .review-form input[type="text"],
  select {
  margin-left: 20px;
  }
  .stars-container {
    margin-left: 10px;
  }
  .review-form button[type="submit"] {
    margin-left: 60px;
  }
  .user-review-title {
    margin-left: 55px;
  }
}